@using Newtonsoft.Json;
@using TelerikEmployeeManagement.Models.Enums;
@using TelerikEmployeeManagement.Models.Models;
@using TelerikEmployeeManagement.Web.ViewModels;

@model EmployeeViewModel

<button type="button" class="btn btn-primary" onclick="setEditEmployeeModalPhotos(@(JsonConvert.SerializeObject(Model.AllEmployees)))">Load Script</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Employee
</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firsta</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col" colspan="6">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AllEmployees != null & Model.AllEmployees?.Count() > 0)
        {
            @foreach (var emp in Model.AllEmployees)
            {
                <tr>
                    <th scope="row">@(emp.EmployeeId)</th>
                    <td>@(emp.FirstName)</td>
                    <td>@(emp.LastName)</td>
                    <td>@(emp.Email)</td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@($"EditModel_{emp.EmployeeId}")">Edit</button></td>
                    <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@($"DeleteModel_{emp.EmployeeId}")">Delete</button></td>
                </tr>
            }
        }
    </tbody>
</table>


<!-- Button trigger modal -->
<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/Employee/listing-simple" method="post"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="IFirstName" class="form-label">First Name</label>
                        <input type="text" name="FirstName" class="form-control" id="IFirstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="ILastName" class="form-label">Last Name</label>
                        <input type="text" name="LastName" class="form-control" id="ILastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="IEmail" class="form-label">Email</label>
                        <input type="email" name="Email" class="form-control" id="IEmail" required pattern="[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                    </div>
                    <div class="mb-3">
                        <label for="IDateofBirth" class="form-label">Date of Birth</label>
                        <input type="date" name="DateOfBrith" class="form-control" id="IDateofBirth" required>
                    </div>
                    <div class="mb-3">
                        <label for="IDepartment" class="form-label">Department</label>
                        <select class="form-control" id="IDepartment" name="DepartmentId" required>
                            @foreach (var item in Model.AllDepartment)
                            {
                                <option value="@(item.DepartmentId)">@(item.DepartmentName)</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="IPhoto" class="form-label">Photo</label>
                        <input type="file" class="form-control" id="IAddPhoto" name="PhotoPath" required>
                        <img id="IPhotoDisplay" style="height:100px" />
                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        <label class="radio-inline"><input type="radio" name="Gender" value="@(Gender.Female)" required>Female</label>
                        <label class="radio-inline"><input type="radio" name="Gender" value="@(Gender.Male)">Male</label>
                        <label class="radio-inline"><input type="radio" name="Gender" value="@(Gender.Other)">Other</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal-->
@foreach (var item in Model.AllEmployees)
{

    <div class="modal fade" id="@($"EditModel_{item.EmployeeId}")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Employee/listing-simple" method="post" enctype="multipart/form-data">
                        <input type="hidden" value="@(item.EmployeeId)" name="EmployeeId" />
                        <div class="mb-3">
                            <label for="IFirstName" class="form-label">First Name</label>
                            <input type="text" name="FirstName" class="form-control" id="IFirstName" value="@(item.FirstName)">
                        </div>
                        <div class="mb-3">
                            <label for="ILastName" class="form-label">Last Name</label>
                            <input type="text" name="LastName" class="form-control" id="ILastName" value="@(item.LastName)">
                        </div>
                        <div class="mb-3">
                            <label for="IEmail" class="form-label">Email</label>
                            <input type="text" name="Email" class="form-control" id="IEmail" value="@(item.Email)">
                        </div>
                        <div class="mb-3">
                            <label for="IDateofBirth" class="form-label">Date of Birth</label>
                            <input type="date" name="DateOfBrith" class="form-control" id="IDateofBirth" value="@(item.DateOfBrith.ToString("yyyy-MM-dd"))">
                        </div>
                        <div class="mb-3">
                            <label for="IDepartment" class="form-label">Department</label>
                            <select class="form-control" id="IDepartment" name="DepartmentId">
                                @foreach (var dept in Model.AllDepartment)
                                {
                                    @if (dept.DepartmentId == item.DepartmentId)
                                    {
                                        <option selected value="@(dept.DepartmentId)">@(dept.DepartmentName)</option>
                                    }
                                    else
                                    {
                                        <option value="@(dept.DepartmentId)">@(dept.DepartmentName)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="IPhoto" class="form-label">Photo</label>
                            <input type="file" class="form-control" id="@($"IPhoto_{item.EmployeeId}")" name="PhotoPath">
                            <img src="~/@(item.PhotoPath)" style="height: 100px" id="@($"IPhotoDisplay_{item.EmployeeId}")" />
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            @{
                                string FemaleSelected = "";
                                string MaleSelected = "";
                                string OtherSelected = "";
                                if (item.Gender == Gender.Female)
                                    FemaleSelected = "checked";
                                else if (item.Gender == Gender.Male)
                                    MaleSelected = "checked";
                                else if (item.Gender == Gender.Female)
                                    OtherSelected = "checked";
                            }
                            <label class="radio-inline"><input @(FemaleSelected) type="radio" name="Gender" value="@(Gender.Female)">Female</label>
                            <label class="radio-inline"><input @(MaleSelected) type="radio" name="Gender" value="@(Gender.Male)">Male</label>
                            <label class="radio-inline"><input @(OtherSelected) type="radio" name="Gender" value="@(Gender.Other)">Other</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="@($"DeleteModel_{item.EmployeeId}")">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure, you want to delete @($@"""{item.FirstName}""?")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="deleteEmployee(@($"'{item.EmployeeId}'"))">Delete</button>
                </div>
            </div>
        </div>
    </div>
}



<script src="~/controller/employee/employee.js"></script>

<script>
    $(document).ready(function () {
        var employeeList = @Html.Raw(Json.Serialize(Model.AllEmployees));
        setEditEmployeeModalPhotos(employeeList);
    });
    

    function setEditEmployeeModalPhotos(employees) {
        console.log(employees)
    for (var i = 0; i < employees.length; i++) {
        var fileElementId = "IPhoto_" + employees[i]["employeeId"];
        var photoElementId = "IPhotoDisplay_" + employees[i]["employeeId"];


        const imageInput = document.getElementById(fileElementId);
        const previewImage = document.getElementById(photoElementId);

        imageInput.addEventListener('change', function (event) {
            console.log("invoked")
            const selectedFile = event.target.files[0];

            if (selectedFile) {
                // Read the selected image as a data URL
                const reader = new FileReader();
                reader.onload = function (event) {
                    // Update the image source with the data URL
                    previewImage.src = event.target.result;
                    previewImage.style.display = 'block'; // Show the image
                };
                reader.readAsDataURL(selectedFile); // Read the selected file as data URL
            } else {
                // No file selected, hide the image
                previewImage.style.display = 'none';
                previewImage.src = '';
            }
        });
    }
}
</script>
