@using TelerikEmployeeManagement.Models.Enums;
@model Gender
<label class="radio-inline">@(
    Html.Kendo().RadioButtonFor(model => model).HtmlAttributes(new { id = "gender1" }).Value((int)Gender.Female)
    ) Female</label>
<label class="radio-inline">@(Html.Kendo().RadioButtonFor(model => model).HtmlAttributes(new { id = "gender2" }).Value((int)Gender.Male)) Male</label>
<label class="radio-inline">@(Html.Kendo().RadioButtonFor(model => model).HtmlAttributes(new { id = "gender3" }).Value((int)Gender.Other)) Other</label>

@*
<label class="radio-inline">@Html.RadioButtonFor(model => model, (int)Gender.Female)Female</label>
<label class="radio-inline">@Html.RadioButtonFor(model => model, (int)Gender.Male)Male</label>
<label class="radio-inline">@Html.RadioButtonFor(model => model, (int)Gender.Other)Other</label>*@

